{% extends 'EventBundle::layout.html.twig' %}
{% block innercontent %}
<div id="content">		
		
		<div class="col1">
			{% if partners|length > 0 %}
				<h1>MarketingCamp Partners</h1>		
				<hr>
				
				{% for partner in partners %}
				
					<a target="_blank" href="{{ partner.vendor.companyLogo}}">
					{% set img = 'img/vendors/' ~ partner.vendor.companyLogo %}
					<img width="190" height="135" class="left spcr-r" alt="" src="{{ asset(img)}}">
					<h3 class="spcr-t2">{{ partner.vendor.companyName}}</h3></a>
					{{ partner.vendor.description|raw}}
					{% if partner.vendor.twitterUrl   != '' or partner.vendor.facebookUrl   != '' %}
						<p>Follow us on <a target="_blank" href="{{ partner.vendor.twitterUrl}}">
						<img width="32" height="32" alt="" src="{{asset('img/twitter.png')}}"></a> 
						<a target="_blank" href="{{ partner.vendor.facebookUrl}}">
						<img width="32" height="32" alt="" src="{{asset('img/facebook.png')}}"></a></p>
					{% endif %}	
					<hr class="clr">
				{% endfor %}
			{% else%}
				No Record Found
			{% endif %}		
		</div>
		
		<div class="col2">
			{% include "EventBundle::right_camp.html.twig" %}
		</div>
			
		<div class="clr"></div>	
			
	</div>
	<div class="push"></div>
{% endblock %}

