{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<fieldset class="blink">
 <h1> Login </h1>

<form action="{{ path("fos_user_security_check") }}" method="post">
	
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
        <label for="username" class="left">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" class="left" id="username" name="_username" value="{{ last_username }}" required="required" />
		<br class="clr"> <br>
  
		<label for="password" class="left">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" class="left" id="password" name="_password" required="required" />

    <br class="clr"><br>
    <input type="submit" class="btnF center" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />

	</form>
</fieldset>
{% endblock fos_user_content %}
